---
import DataProject from "@assets/data/portfolio.json";
---

<article class="" data-page="portfolio">
  <header>
    <h2 class="article-title">Portfolio</h2>
  </header>

  {
    DataProject.map((project) => (
      <div class="project-section">
        <div class="content">
          <h3 class="title">
            {project.title} {project.subTitle ? <small>{project.subTitle}</small> : null}
          </h3>
          <p>{project.description}</p>
        </div>
      </div>
      <div class="tags">
        {project.tags?.map((tag) => (
          <div class="tag">{tag}</div>
        ))}
      </div>
      <div class="project-images">
        {project.images?.map((image) => (
          <div data-project-item>
            <img loading="lazy" class={project.imageAsMobile ? 'image-as-mobile' : null} src={image} width="150" alt='project picture' data-project-image/>
          </div>
        ))}
      </div>
    ))
  }
</article>

<style lang="scss">
  .project-section {
    .content {
      .title {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
      }

      p {
        margin-top: 16px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6;
      }
    }

  }
  .project-images {
    margin-top: 16px;
    margin-bottom: 36px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
    .image-as-mobile{
      width: 80px;
      height: 142px;
      background-color: var(--color-base-400);
    }
    
    img {
      border-radius: var(--radius-box);
      filter: saturate(10%) opacity(40%); 
      cursor: pointer;
      transition: filter 0.5s ease;
      background-color: var(--color-base-400);
      width: 150px;
      height: 74px;

      &:hover{
        filter: none;
      }
    }
  }
</style>
